.container {
  display: flex;
  flex-direction: column;
  a{
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    background-color: #3f3939;
    color:#ff1135;
    margin: 10px;
    border-radius: 15px;
    &:hover{
      color: #ffa011;
    }
    .active{
      color:#030303;
    }
  }
}